:root {
   --cor-primaria: #9ea671;
   --cor-secundaria: #ececec;
   --cor-terciaria: #dac7b9;
   font-family: Arial, Helvetica, sans-serif;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: var(--cor-primaria);
}

header {
   display: flex;
   background-color: var(--cor-primaria);
   justify-content: space-between;
   height: 135px;
   align-items: center;
}

.Login {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 0px 20px;
   font-size: 20px;
}

.Login a {
   color: white;
}

header>h1 {
   display: flex;
   align-items: center;
   flex-direction: column-reverse;
   color: white;
   font-size: 30px;
}

header>form {
   position: relative;
   display: flex;
   margin: 0px 20px;
   align-items: center;
   background-color: WHITE;
   border: 2px solid black;
   border-radius: 20px;
}

form input {
   height: 35px;

   padding-left: 10px;
   border: none;
   outline: none;
   border-radius: 20px;
}

button {
   background-color: transparent;
   border: none;
   outline: none;
   margin-right: 10px;
}

::-webkit-input-placeholder {
   color: var(--cor-primaria);
}

nav {
   display: flex;
   justify-content: space-between;
   height: 31px;
   background-color: var(--cor-secundaria);
}

nav a {
   display: flex;
   align-items: center;
   color: var(--cor-primaria);
   font-size: 20px;
   margin: 0px 30px;
   text-decoration: none;
}

span {
   margin: auto;
   border: 1px solid var(--cor-primaria);
   height: 15px;
}

section {
   position: relative;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   height: 100%;
   margin: 0px 200px;
}

.livro {
   margin: 50px 0px 0px 100px;
   display: flex;
   align-items: center;
}

.livro img {
   border: 3px solid white;
   border-radius: 10px;
}

.informação {
   margin-top: 60px;
   border-top: 3px dashed white;
   border-bottom: 3px dashed white;
   width: 300px;
}

.proprietario {
   position: relative;
   background-color: var(--cor-terciaria);
   width: 300px;
   padding: 20px;
   border-radius: 10px;
   border: 2px solid var(--cor-secundaria);
   margin-bottom: 10px;
   margin-top: 20px;
   
}

.proprietario img {
   position: absolute;
   left: 90%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.credibilidade h3 {
   margin-top: 10px;
   font-size: 30px;
}

.credibilidade h2 {
   font-size: 20px;
}
.credibilidade p{
   margin-top: 30px;
}
.estrelas{
   margin-top: 10px;
   font-weight: 100;
   font-size: 20px;
}

#formulario {
   align-items: center;
   justify-content: center;
   margin-top: 50px;
}

#formulario input {
   display: flex;
   margin-bottom: 40px;
   width: 400px;
   height: 40px;
   justify-content: center;
}
.buton-final{
   display: flex;
   margin: auto;
   margin-top: 40px;
   font-size: 20px;
}
.buton-final a{
   color: black;
   background-color: var(--cor-terciaria);
   margin-right: 100px;
   width: 300px;
   padding: 20px 0px;
   border-radius: 40px;
   border: 2px solid var(--cor-secundaria);
}
.buton-final .button-verde{
   background-color: #b5c18e;
}
@media only screen and (max-width:1499px){
   section{
      display: flex;
      flex-direction: column;
   }
   nav{
      display: none;
   }

   .form-pc{
      display: none;
   }
   .buton-final a{
   }
}
@media only screen and (min-width:200px) and (max-width:600px){
   header{
      display: flex;
   }
   section .livro{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 0px;
   }
   .livro img{
      border: 1px solid black;
      height: 300px;
   }
   header .form-pc{
      display: none;
   }
   header .Login{
      display: flex;
      justify-content: space-between;
   }
   .Login h1{
      font-size: 16px;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
   }
   .form-mobile{
      position: relative;
   }
   .form-mobile button{
      position: absolute;
      left: 93%;
      top: 10%;
   }
   .form-mobile input{
      width: 100%;
      border-radius: 0px;
      padding: 20px;
   }
   #formulario {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .informação{
      margin: 0px;
   }
   .buton-final{
      display: flex;
      margin: auto;
      justify-content: center;
      align-items: center;
   }
   .buton-final a{
      font-size:10px;
      padding: 5px 30px;
      width: 50%;
   }
}
